<!DOCTYPE html>
<html>
<head>
	<title>NCU VEMS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="content-type" charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117855791-1"></script>
	<!-- swiper -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.min.css">
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-117855791-1');
	</script>
</head>

<body>
<header>NCU VEMS エネルギー可視化システム</header>
<div class="main">
	<%=logs%>
</div>
<footer>produced by Riana Uchima</footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.min.js"></script>
<script src="/javascripts/script.js"></script>
</html>
