@charset "utf-8";

.header{
	position : absolute;
	top: 0px;
	left: 0px;
	width : 1024px;
	height : 88px;
	border: none;
	border-spacing: 0;
	background-color: #707070;
}
.name1{
	width : 447px;
	height : 88px;
	font-family:"ＭＳ ゴシック";
	font-size : x-large;
	color : #ffffff;
	text-align : left;
	vertical-align : middle;
	padding-left : 8px;
	padding-right : 8px;
	border-collapse: collapse;
	border-spacing: 0;
	word-break: break-all;
	line-height:110%;
}
.name2{
	width : 372px;
	height : 88px;
	font-family:"ＭＳ ゴシック";
	font-size : x-large;
	color : #ffffff;
	text-align : left;
	vertical-align : middle;
	padding-left : 8px;
	padding-right : 8px;
	border-collapse: collapse;
	border-spacing: 0;
	word-break: break-all;
	line-height:110%;
}
.fig1{
	width : 205px;
	height : 88px;
	background-image : url("fig1.JPG");
	border-collapse: collapse;
	border-spacing: 0;
}
.menu_sel{
	position : absolute;
	top: 88px;
	left: 0px;
	width : 205px;
	height : 43px;
	border: none;
	background-image : url("004_ON.JPG");
	background-repeat: no-repeat;
}
.menu{
	position : absolute;
	top: 88px;
	left: 0px;
	width : 205px;
	height : 43px;
	border: none;
	background-image : url("004.JPG");
	background-repeat: no-repeat;
}
.menu:hover{
	position : absolute;
	top: 88px;
	left: 0px;
	width : 205px;
	height : 43px;
	border: none;
	background-image : url("004_ON.JPG");
	background-repeat: no-repeat;
}
.data_sel{
	position : absolute;
	top: 88px;
	left: 205px;
	width : 205px;
	height : 43px;
	border: none;
	background-image : url("005_ON.JPG");
	background-repeat: no-repeat;
}
.data{
	position : absolute;
	top: 88px;
	left: 205px;
	width : 205px;
	height : 43px;
	border: none;
	background-image : url("005.JPG");
	background-repeat: no-repeat;
}
.data:hover{
	position : absolute;
	top: 88px;
	left: 205px;
	width : 205px;
	height : 43px;
	border: none;
	background-image : url("005_ON.JPG");
	background-repeat: no-repeat;
}
.trend_sel{
	position : absolute;
	top: 88px;
	left: 410px;
	width : 205px;
	height : 43px;
	border: none;
	background-image : url("006_ON.JPG");
	background-repeat: no-repeat;
}
.trend{
	position : absolute;
	top: 88px;
	left: 410px;
	width : 205px;
	height : 43px;
	border: none;
	background-image : url("006.JPG");
	background-repeat: no-repeat;
}
.trend:hover{
	position : absolute;
	top: 88px;
	left: 410px;
	width : 205px;
	height : 43px;
	border: none;
	background-image : url("006_ON.JPG");
	background-repeat: no-repeat;
}
.event_sel{
	position : absolute;
	top: 88px;
	left: 615px;
	width : 205px;
	height : 43px;
	border: none;
	background-image : url("007_ON.JPG");
	background-repeat: no-repeat;
}
.event{
	position : absolute;
	top: 88px;
	left: 615px;
	width : 205px;
	height : 43px;
	border: none;
	background-image : url("007.JPG");
	background-repeat: no-repeat;
}
.event:hover{
	position : absolute;
	top: 88px;
	left: 615px;
	width : 205px;
	height : 43px;
	border: none;
	background-image : url("007_ON.JPG");
	background-repeat: no-repeat;
}
.update{
	position : absolute;
	top: 88px;
	left: 820px;
	width : 204px;
	height : 43px;
	border: none;
	background-image : url("008.JPG");
	background-repeat: no-repeat;
}
.update:hover{
	position : absolute;
	top: 88px;
	left: 820px;
	width : 204px;
	height : 43px;
	border: none;
	background-image : url("008_ON.JPG");
	background-repeat: no-repeat;
}
.back_left{
	position : absolute;
	top: 131px;
	left: 0px;
	width : 37px;
	height : 41px;
	border: none;
	background-image : url("009.JPG");
}
.ai_data_sel{
	position : absolute;
	top: 131px;
	left: 37px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("010_SEL.JPG");
}
.ai_data{
	position : absolute;
	top: 131px;
	left: 37px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("010.JPG");
}
.ai_data:hover{
	position : absolute;
	top: 131px;
	left: 37px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("010_ON.JPG");
}
.ai_data_dummy{
	position : absolute;
	top: 131px;
	left: 37px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("014.JPG");
}
.di_data_sel{
	position : absolute;
	top: 131px;
	left: 173px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("011_SEL.JPG");
}
.di_data{
	position : absolute;
	top: 131px;
	left: 173px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("011.JPG");
}
.di_data:hover{
	position : absolute;
	top: 131px;
	left: 173px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("011_ON.JPG");
}
.di_data_dummy{
	position : absolute;
	top: 131px;
	left: 173px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("014.JPG");
}
.pi_data_sel{
	position : absolute;
	top: 131px;
	left: 309px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("012_SEL.JPG");
}
.pi_data{
	position : absolute;
	top: 131px;
	left: 309px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("012.JPG");
}
.pi_data:hover{
	position : absolute;
	top: 131px;
	left: 309px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("012_ON.JPG");
}
.pi_data_dummy{
	position : absolute;
	top: 131px;
	left: 309px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("014.JPG");
}
.do_data_sel{
	position : absolute;
	top: 131px;
	left: 445px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("013_SEL.JPG");
}
.do_data{
	position : absolute;
	top: 131px;
	left: 445px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("013.JPG");
}
.do_data:hover{
	position : absolute;
	top: 131px;
	left: 445px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("013_ON.JPG");
}
.do_data_dummy{
	position : absolute;
	top: 131px;
	left: 445px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("014.JPG");
}
.ao_data_sel{
	position : absolute;
	top: 131px;
	left: 581px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("023_SEL.JPG");
}
.ao_data{
	position : absolute;
	top: 131px;
	left: 581px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("023.JPG");
}
.ao_data:hover{
	position : absolute;
	top: 131px;
	left: 581px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("023_ON.JPG");
}
.ao_data_dummy{
	position : absolute;
	top: 131px;
	left: 581px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("014.JPG");
}
.prev{
	position : absolute;
	top: 131px;
	left: 717px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("015.JPG");
}
.prev:hover{
	position : absolute;
	top: 131px;
	left: 717px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("015_ON.JPG");
}
.prev_dummy{
	position : absolute;
	top: 131px;
	left: 717px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("014.JPG");
}
.next{
	position : absolute;
	top: 131px;
	left: 853px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("016.JPG");
}
.next:hover{
	position : absolute;
	top: 131px;
	left: 853px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("016_ON.JPG");
}
.next_dummy{
	position : absolute;
	top: 131px;
	left: 853px;
	width : 136px;
	height : 41px;
	border: none;
	background-image : url("014.JPG");
}
.back_right{
	position : absolute;
	top: 131px;
	left: 989px;
	width : 35px;
	height : 41px;
	border: none;
	background-image : url("017.JPG");
}
.time_name3_date{
	position : absolute;
	top: 169px;
	left: 0px;
	width : 1024px;
	height : 72px;
	border: none;
	border-spacing: 0;
}
.back18{
	width : 60px;
	height : 72px;
	background-image : url("018.JPG");
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
.time{
	width : 236px;
	height : 72px;
	background-image : url("019.JPG");
	font-family:"ＭＳ ゴシック";
	font-size : large;
	color : #ffffff;
	text-align : center;
	vertical-align : middle;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
.name3{
	width : 432px;
	height : 72px;
	background-image : url("020.JPG");
	font-family:"ＭＳ ゴシック";
	font-size : large;
	color : #ffffff;
	text-align : center;
	vertical-align : middle;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	word-break: break-all;
	line-height:110%;
}
.date{
	width : 236px;
	height : 72px;
	background-image : url("021.JPG");
	font-family:"ＭＳ ゴシック";
	font-size : large;
	color : #ffffff;
	text-align : center;
	vertical-align : middle;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
.back22{
	width : 60px;
	height : 72px;
	background-image : url("022.JPG");
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}

