@charset "utf-8";

.p0{
	position : absolute;
	top: 131px;
	left: 0px;
	width : 44px;
	height : 38px;
	border: none;
	background-image : url("P0.JPG");
}
.p1sel{
	position : absolute;
	top: 131px;
	left: 44px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P1_SEL.JPG");
	background-repeat: no-repeat;
}
.p1{
	position : absolute;
	top: 131px;
	left: 44px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P1.JPG");
	background-repeat: no-repeat;
}
.p1:hover{
	position : absolute;
	top: 131px;
	left: 44px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P1_ON.JPG");
	background-repeat: no-repeat;
}
.p2sel{
	position : absolute;
	top: 131px;
	left: 161px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P2_SEL.JPG");
	background-repeat: no-repeat;
}
.p2{
	position : absolute;
	top: 131px;
	left: 161px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P2.JPG");
	background-repeat: no-repeat;
}
.p2:hover{
	position : absolute;
	top: 131px;
	left: 161px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P2_ON.JPG");
	background-repeat: no-repeat;
}
.p3sel{
	position : absolute;
	top: 131px;
	left: 278px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P3_SEL.JPG");
	background-repeat: no-repeat;
}
.p3{
	position : absolute;
	top: 131px;
	left: 278px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P3.JPG");
	background-repeat: no-repeat;
}
.p3:hover{
	position : absolute;
	top: 131px;
	left: 278px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P3_ON.JPG");
	background-repeat: no-repeat;
}
.p4sel{
	position : absolute;
	top: 131px;
	left: 395px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P4_SEL.JPG");
	background-repeat: no-repeat;
}
.p4{
	position : absolute;
	top: 131px;
	left: 395px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P4.JPG");
	background-repeat: no-repeat;
}
.p4:hover{
	position : absolute;
	top: 131px;
	left: 395px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P4_ON.JPG");
	background-repeat: no-repeat;
}
.p5sel{
	position : absolute;
	top: 131px;
	left: 512px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P5_SEL.JPG");
	background-repeat: no-repeat;
}
.p5{
	position : absolute;
	top: 131px;
	left: 512px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P5.JPG");
	background-repeat: no-repeat;
}
.p5:hover{
	position : absolute;
	top: 131px;
	left: 512px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P5_ON.JPG");
	background-repeat: no-repeat;
}
.p6sel{
	position : absolute;
	top: 131px;
	left: 629px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P6_SEL.JPG");
	background-repeat: no-repeat;
}
.p6{
	position : absolute;
	top: 131px;
	left: 629px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P6.JPG");
	background-repeat: no-repeat;
}
.p6:hover{
	position : absolute;
	top: 131px;
	left: 629px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P6_ON.JPG");
	background-repeat: no-repeat;
}
.p7sel{
	position : absolute;
	top: 131px;
	left: 746px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P7_SEL.JPG");
	background-repeat: no-repeat;
}
.p7{
	position : absolute;
	top: 131px;
	left: 746px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P7.JPG");
	background-repeat: no-repeat;
}
.p7:hover{
	position : absolute;
	top: 131px;
	left: 746px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P7_ON.JPG");
	background-repeat: no-repeat;
}
.p8sel{
	position : absolute;
	top: 131px;
	left: 863px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P8_SEL.JPG");
	background-repeat: no-repeat;
}
.p8{
	position : absolute;
	top: 131px;
	left: 863px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P8.JPG");
	background-repeat: no-repeat;
}
.p8:hover{
	position : absolute;
	top: 131px;
	left: 863px;
	width : 117px;
	height : 38px;
	border: none;
	background-image : url("P8_ON.JPG");
	background-repeat: no-repeat;
}
.p9{
	position : absolute;
	top: 131px;
	left: 980px;
	width : 44px;
	height : 38px;
	border: none;
	background-image : url("P0.JPG");
}
.trend_group{
	position : absolute;
	top: 241px;
	left: 0px;
	width : 1024px;
	height : 45px;
	border: none;
	border-spacing: 0;
}
.trend_dummy{
	width : 80px;
	height : 35px;
	font-size : small;
	color : #ffffff;
	text-align : left;
	vertical-align : middle;
}
.trend_pname{
	width : 720px;
	height : 35px;
	font-size : large;
	color : #ffffff;
	text-align : center;
	vertical-align : middle;
}
.trend_time{
	width : 224px;
	height : 35px;
	font-size : small;
	color : #ffffff;
	text-align : left;
	vertical-align : middle;
}
.graph_base{
	position : absolute;
	top: 276px;
	left: 0px;
	width : 1024px;
	height : 370px;
	z-index: 0;
}
.graph{
	border: 0px;
	border-style: solid;
	border-color: white;
	border-spacing: 0;
	border-collapse: collapse;
	table-layout: fixed;
	word-break: break-all;
}
.scale_dummy{
	width : 80px;
	height : 25px;
	border: 0px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
.graph_area{
	width : 720px;
	height : 370px;
	border: 0px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.pen_dummy{
	width : 20px;
	height : 25px;
	border: 0px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
.num_dummy{
	width : 204px;
	height : 25px;
	border: 0px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
.scale_100{
	width : 80px;
	height : 80px;
	font-size : small;
	color : #ffffff;
	text-align : right;
	vertical-align : top;
	border: 0px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
.scale_blank{
	width : 80px;
	height : 80px;
	border: 0px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
.scale_0{
	width : 80px;
	height : 80px;
	font-size : small;
	color : #ffffff;
	text-align : right;
	vertical-align : bottom;
	border: 0px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
.pen_mark{
	width : 20px;
	height : 20px;
	border: 0px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
.num{
	width : 204px;
	height : 80px;
	font-size : medium;
	color : #ffffff;
	text-align : left;
	vertical-align : top;
	border: 0px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	line-height: 1.1;
}
.num_p1x{
	position : absolute;
	top: 301px;
	left: 820px;
	width : 204px;
	height : 80px;
	font-size : medium;
	color : #ffffff;
	text-align : left;
	line-height: 1.1;
	overflow-x: visible;
	white-space: nowrap;
}
.num_p2x{
	position : absolute;
	top: 381px;
	left: 820px;
	width : 204px;
	height : 80px;
	font-size : medium;
	color : #ffffff;
	text-align : left;
	line-height: 1.1;
	overflow-x: visible;
	white-space: nowrap;
}
.num_p3x{
	position : absolute;
	top: 461px;
	left: 820px;
	width : 204px;
	height : 80px;
	font-size : medium;
	color : #ffffff;
	text-align : left;
	line-height: 1.1;
	overflow-x: visible;
	white-space: nowrap;
}
.num_p4x{
	position : absolute;
	top: 541px;
	left: 820px;
	width : 204px;
	height : 80px;
	font-size : medium;
	color : #ffffff;
	text-align : left;
	line-height: 1.1;
	overflow-x: visible;
	white-space: nowrap;
}
.pen_no{
	width : 20px;
	height : 60px;
	font-size : small;
	color : #ffffff;
	text-align : center;
	vertical-align : top;
	border: 0px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}
.draw_area{
	position : absolute;
	top: 276px;
	left: 80px;
	width : 720px;
	height : 382px;
	background-image : url("back.JPG");
	overflow-y: hidden;
	overflow-x: auto;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-webkit-overflow-scrolling: touch;
	-ms-user-select: none;
	z-index: 1;
}
.draw_area_canvas{
	font-size : medium;
	color : #ffffff;
	text-align : left;
}
.scroll_area{
	position : absolute;
	top: 276px;
	left: 80px;
	width : 720px;
	height : 370px;
	background-image : url("back_dummy.PNG");
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 2;
}
.bottom_dummy{
	position : absolute;
	top: 600px;
	left: 80px;
	width : 720px;
	height : 10px;
}
